Welcome to the Richmond Read-A-Thon!

The Read-A-Thon is a fun way to encourage good reading habits for your student while helping to raise critical funds for Richmond’s staff and teachers.

Your student’s personal profile page has already been set up on the new Read-A-Thon website.

It’s easy to get started! <a href="http://www.read4richmond.com/autologin/<%= @student.code %>">Click here to go directly to your student’s profile page</a>. Each student also has a personal ID code that you can use to log in from the Read-A-Thon home page. <%= @student.first %> code is <%= @student.code %>

Here’s how it works:

Students can personalize their pages, log daily reading time, and track progress through achievement levels and badges. Your in-class reading time will be recorded by your teachers - but be sure to track every 15 minutes that you read on your own! Every day we will post a "Daily Challenge".  Earn badges by completing these special reading activities.

Parents, you can use the website to view your reader’s progress, and to make a pledge of support. Your pledges are the key to the Read-A-Thon’s success! Whether you pledge a little or a lot, we hope every parent will support their student’s reading goals.

You can also use the website to share information about the Read-A-Thon with friends and family. Facebook, Twitter, and e-mail are great ways to engage your loved ones in your student’s success.

With your help, we hope to raise more than $40,000 in this fall’s Read-A-Thon. All contributions benefit the Richmond School Foundation, supporting staff and teaching positions at our school. Issho ni ganbarou! Together we can do it!

Sincerely,
The Richmond School Foundation
