<div class="social-strip">
  <div class="box-960">
    <div class="left-social-strip animated fadeIn">
      <% if days_to_end > 0 %>
        <h3><strong><%= days_to_end %> Days Remaining</strong></h3>
        <h5 style="line-height:11px;">Richmond PTA's Read4Richmond ends <%= Rails.configuration.end_date.strftime("%b %d") %></h5>
      <% elsif days_to_end == 0 %>
        <h3><strong>Today is the last day!</strong></h3>
        <h5 style="line-height:11px;">Richmond PTA's Read4Richmond ends <%= Rails.configuration.end_date.strftime("%b %d") %></h5>
      <% else %>
        <h3><strong>Our Read4Richmond has closed</strong></h3>
        <h5 style="line-height:11px;">but it is never too late to help the Richmond PTA.
          <a style="font-weight:bold; color:white;" href="javascript:void(0)" onclick="$('#donate_form').submit()">Donate here!</a></h5>
      <% end %>
      </a>
    </div>
  </div>
</div>
