<div class="small-breadcrumb">
  <div class="left-breadcrumb">
    <%= link_to 'Private Profile', priprofile_index_path %>
    <a href="#"><i class="fa fa-angle-right"></i><%= page_name %></a>
  </div>
  <div class="right-breadcrumb">
  </div>
  <div class="clear"></div>
  <div style="margin-bottom:20px;" class="decoration"></div>
</div>
