<div class="content box-960">
  <div class="small-breadcrumb">
    <div class="left-breadcrumb">
      <%= link_to 'Private Profile', pri_profile_path %>
      <a href="#"><i class="fa fa-angle-right"></i>Request Pledge</a>
    </div>
    <div class="right-breadcrumb">
    </div>
    <div class="clear"></div>
    <div style="margin-bottom:20px;" class="decoration"></div>
  </div>

  <div class="container center-heading">
    <p class="center-text larger">
    <h5>Support Reading At Richmond Elementary!</h5>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta erat justo, eu posuere tellus facilisis eu. Ut sed justo a augue sollicitudin iaculis at et justo. Vestibulum felis nulla, dignissim eu porta non, blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta erat justo, eu posuere tellus facilisis eu. Ut sed justo a augue sollicitudin iaculis at et justo. Vestibulum felis nulla, dignissim eu porta non, blandit.
    </p>
  </div>
  <div style="width:330px;" class="orange-decoration half-bottom"></div>
  <div class="container half-bottom">
    <div class="one-third-responsive">
      <div class="center-icon-column red-center-icon-column">
        <h1><i class="fa fa-envelope fa-3x"></i></h1>
        <h5>Email</h5>
        <p class="half-bottom">
          Grandparents, aunts, uncles, and family friends are a great resource for sponsorship.  Send them an email and let them know about this chance to support your school.
        </p>
        <a href="#" style="width:160px;" class="button button-red center-button"><i style="margin-right:10px;" class="fa fa-envelope"></i>Request Pledge</a>
      </div>
    </div>
    <div class="decoration hide-if-responsive half-bottom"></div>
    <div class="one-third-responsive">
      <div class="center-icon-column blue-center-icon-column">
        <h1><i class="fa fa-facebook-official fa-3x"></i></h1>
        <h5>Facebook</h5>
        <p class="half-bottom">
          Let your community know about you Read-a-Thon.  If you or your parents have a facebook account have them use the button below to share your Read-a-Thon with your social circle.
        </p>
        <a href="#" style="width:160px;" class="button button-blue center-button"><i style="margin-right:10px;" class="fa fa-facebook"></i>Request Pledge</a>
      </div>
    </div>
    <div class="decoration hide-if-responsive half-bottom"></div>
    <div class="one-third-responsive no-bottom last">
      <div class="center-icon-column green-center-icon-column">
        <h1><i class="fa fa-twitter fa-3x"></i></h1>
        <h5>Twitter</h5>
        <p class="half-bottom">
          The world is listening to your twitter feed, so broadcast out the opertunity to support your school via this Read-a-thon.
        </p>
        <a href="#" style="width:160px;" class="button button-green center-button"><i style="margin-right:10px;" class="fa fa-twitter"></i>Request Pledge</a>
      </div>
    </div>
    <div class="clear"></div>
  </div>

</div>
