<a name="#more_info"></a>
<div class="parallax-strip bg5 full-bottom item" data-0="background-position:0px 0px;" data-150000="background-position:0px -50000px;">
  <div class="overlay"></div>
  <div class="box-960">
    <h1 class="center-text">How does the Read-A-Thon work?</h1>
    <p class="center-text larger transparent">Your Read-A-Thon pledge makes a difference at Richmond!</p>
  </div>
</div>
<div class="content">
  <div class="box-960">

    <div class="container center-heading">
      <p class="center-text larger">
        Studies show that childhood reading makes a life-long impact in our children.
        The Read-A-Thon is a powerful way to encourage daily reading and raise money for staffing at Richmond.
        The Richmond Read-A-Thon app, developed by a parent volunteer, allows each student to track daily reading
        time,
        provides a fun game-like interface that rewards participation, and allows RSF to collect pledges and donations
        securely.
      </p>
    </div>
    <div style="width:50%;" class="orange-decoration half-bottom"></div>
    <div class="container half-bottom">
      <div class="one-third-responsive">
        <div class="center-icon-column red-center-icon-column">
          <h1><i class="fa fa-dollar fa-3x"></i></h1>
          <h5>Low Overhead</h5>
          <p>
            Donations to RSF through the Read-A-Thon directly support staffing at Richmond.
            The Read-A-Thon is run by parent volunteers who are dedicated to maximizing the impact of your fundraising
            dollars.
            Find information about RSF's partnership with All Hands Raised and the PPS Foundation.
            <a href="http://allhandsraised.org/localschoolfoundations/">http://allhandsraised.org/localschoolfoundations/</a>
          </p>
        </div>
      </div>
      <div class="decoration hide-if-responsive half-bottom"></div>
      <div class="one-third-responsive">
        <div class="center-icon-column blue-center-icon-column">
          <h1><i class="fa fa-hand-paper-o fa-3x"></i></h1>
          <h5>No Gimmicks</h5>
          <p>
            The Read-A-Thon creates excitement around reading with an encouraging, game-like reward system for
            participating readers.
            We will not spend your pledge dollars on gimmicky toys!
            Instead, a small percentage of funds raised will benefit our classroom libraries thanks to a partnership
            with the Richmond PTA and Scholastic Books.
          </p>
        </div>
      </div>
      <div class="decoration hide-if-responsive half-bottom"></div>
      <div class="one-third-responsive no-bottom last">
        <div class="center-icon-column green-center-icon-column">
          <h1><i class="fa fa-child fa-3x"></i></h1>
          <h5>Support Teachers & Staff</h5>
          <p>
            The RSF's sole mission is to raise funds for staff positions at our school to help sustain Richmond's
            dual-immersion model,
            promote academic achievement, enhance classroom support, and increase enrichment activities.
            Your pledge to the Read-A-Thon is a pledge of support for the wonderful teachers and staff who guide and
            help our kids each day.
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
