<a name="more_info"></a>
<div class="parallax-strip bg5 half-bottom item" data-0="background-position:0px 0px;" data-150000="background-position:0px -50000px;">
  <div class="overlay"></div>
  <div class="box-960">
    <h1 class="center-text">How does the Read for Richmond work?</h1>
    <p class="center-text larger transparent">Your Read for Richmond pledge makes a difference at Richmond!</p>
  </div>
</div>
<div class="content">
  <div class="box-960">

    <div class="container center-heading">
      <p class="center-text larger">
        Studies show that childhood reading make a life-long impact in our children. Read
        for Richmond is a powerful way to encourage daily reading and raise money for
        STEAM at Richmond. The Read for Richmond website, developed by a parent
        volunteer, allows each student to track daily reading time, provides a fun game-
        like interface that rewards participation and allows the Richmond PTA to collect
        pledges and donations securely.
      </p>
    </div>
    <div style="width:50%;" class="orange-decoration half-bottom"></div>
    <div class="container half-bottom">
      <div class="one-third-responsive">
        <div class="center-icon-column red-center-icon-column">
          <h1><i class="fa fa-dollar fa-3x"></i></h1>
          <h5>Low Overhead</h5>
          <p>
            90% of pledges collected will be granted directly to Richmond School’s
            administration, to be used for STEAM enrichment activities. 10% of pledges
            collected will remain at Richmond PTA for administrative and operating expenses
            or other PTA expenditures (per the PTA’s standing rules).
          </p>
        </div>
      </div>
      <div class="decoration hide-if-responsive half-bottom"></div>
      <div class="one-third-responsive">
        <div class="center-icon-column blue-center-icon-column">
          <h1><i class="fa fa-hand-paper-o fa-3x"></i></h1>
          <h5>No Gimmicks</h5>
          <p>
            The Read for Richmond creates excitement around reading with an encouraging, game-like reward system for
            participating readers.
            We will not spend your pledge dollars on gimmicky toys!
          </p>
        </div>
      </div>
      <div class="decoration hide-if-responsive half-bottom"></div>
      <div class="one-third-responsive no-bottom last">
        <div class="center-icon-column green-center-icon-column">
          <h1><i class="fa fa-child fa-3x"></i></h1>
          <h5>Support Teachers & Staff</h5>
          <p>
            Examples of how this money has been spent in the past include assemblies, OMSI in the classroom,
            African Dance classes, science equipment and classroom Chromebooks for students.
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
