<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>

<div class="social-strip">
  <div class="box-960">
    <div class="left-social-strip animated fadeIn">
      <h3>Promote Your Read-A-Thon Profile</h3>
      <h5>share your profile on social networks</h5>
    </div>
    <div class="right-social-strip">
      <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%= pub_profile_url(student_id) %>"><i class="fa fa-facebook"></i></a>
      <a target="_blank" href="#" style="margin-right:20px;"><i class="fa fa-twitter"></i></a>
      <a href="https://www.pinterest.com/pin/create/button/">
        <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" />
      </a>
    </div>
  </div>
</div>
