<div class="social-strip">
  <div class="box-960">
    <div class="left-social-strip animated fadeIn">
      <h3>Promote Your Read-A-Thon Profile</h3>
      <h5>share your profile on social networks</h5>
    </div>
    <div class="right-social-strip">
      <a href="https://www.facebook.com/sharer/sharer.php?u=<%= pub_profile_url(@student.id) %>"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
</div>
