<%= render '/includes/strip' %>

<div class="content">
  <div class="full-bottom"></div>
  <div class="box-960">
    <div class="one-half-responsive half-bottom">
      <h5>Support the Read4Richmond Read-A-Thon!</h5>
      <div>
        <p class="dropcaps dropcaps-2">
        Read4Richmond is a fun way to encourage students to build their academic skills by reading every day. 
        This year, funds raised from Read4Richmond will be used to purchase instructional materials to support our students’ educational recovery following the impacts of the pandemic.
        </p>
      </div>
      <br/>
      <div>
        <p class="dropcaps dropcaps-2">
        The Richmond PTA is proud to be a part of this exciting project that supports student enrichment at school AND encourages our amazing young readers. Please support our students by making a pledge to Read4Richmond and sharing your student’s page with friends and family. Our fundraising goal this year is approximately $40 per student. If you are unable to donate, your child can still participate by tracking their reading and working toward their class reading goal!</p>
      </div>
    </div>

    <div class="decoration hide-if-responsive"></div>

    <div class="contact-box one-half-responsive last">
      <div>
        <p class="dropcaps dropcaps-2">
          Students and parents: to access your personal Read4Richmond page and begin logging your reading minutes, please
          <a href="<%= new_user_session_path %>" class="button button-icon button-green" style="padding: 3px 10px;"><i class="fa fa-user"></i>Login</a>
          or
          <a href="<%= new_user_registration_path %>" class="button button-icon button-green" style="padding: 3px 10px;"><i class="fa fa-user"></i>Sign Up</a>
        </p>
      </div>
      <br/>
      <div>
        <p class="dropcaps dropcaps-2">
          If you want to pledge a reader, please contact your student or their parent for a
          link to their personal pledge page, or contact us at
          <a href="mailto:read4richmond@richmondptapdx.com">read4richmond@richmondptapdx.com</a>
          and we’ll send a link directly to your email. You can also donate directly to Read4Richmond
          <a style="font-weight:bold;" href="javascript:void(0)" onclick="$('#donate_form').submit()">Donate here!</a>.
          Your Read4Richmond pledge makes a difference at Richmond!
        </p>
      </div>
      <br/>
      <div>
        <p class="dropcaps dropcaps-2">
        Donations to Richmond PTA’s Read4Richmond directly support student enrichment at Richmond and other PTA initiatives. Richmond PTA is run by parent volunteers who are dedicated to maximizing the impact of your fundraising dollars. Learn more about Richmond PTA at <a href="http://richmondptapdx.com">richmondptapdx.com</a>
        </p>
      </div>
    </div>
  </div>

  <%= render 'money' %>
</div>
