<%= render '/includes/strip' %>

<div class="content">
  <div class="full-bottom"></div>
  <div class="box-960">
    <div class="one-half-responsive half-bottom">
      <h5>Support the Richmond Read-A-Thon!</h5>
      <div>
        <p class="dropcaps dropcaps-2">
          Read for Richmond is a fun way to encourage students to build their academic
          skills by reading every day. This year, Read for Richmond is also a Richmond PTA
          fundraiser that will raise money for Science, Technology, Engineering, Arts, Math
          and Music (STEAM) enrichment at Richmond through online pledges.
        </p>
      </div>
      <br/>
      <div>
        <p class="dropcaps dropcaps-2">
          The Richmond PTA is proud to be a part of this exciting project that supports
          STEAM enrichment at school AND encourages our amazing young readers. Please
          support our students by making a pledge to Read for Richmond and sharing your
          student’s page with friends and family. Our fundraising goal this year is $25,000,
          or approximately $40 per student. If you are unable to donate, your child can still
          participate by tracking their reading and working toward their class reading goal!
        </p>
      </div>
    </div>

    <div class="decoration hide-if-responsive"></div>

    <div class="contact-box one-half-responsive last">
      <div>
        <p class="dropcaps dropcaps-2">
          Students and parents: to access your personal Read-A-Thon page and begin
          logging your reading minutes, please Sign Up or if you have already created a problem then Sign In
        </p>
      </div>
      <br/>
      <div>
        <p class="dropcaps dropcaps-2">
          If you want to pledge a reader, please contact your student or their parent for a
          link to their personal pledge page, or contact us at
          <a href="mailto:richmondptapdx@gmail.com">richmondptapdx@gmail.com</a>
          and we’ll send a link directly to your email. You can also donate directly to Read for Richmond
          <a style="font-weight:bold;" href="javascript:void(0)" onclick="$('#donate_form').submit()">Donate here!</a>.
          Your Read for Richmond pledge makes a difference at Richmond!
        </p>
      </div>
      <br/>
      <div>
        <p class="dropcaps dropcaps-2">
          Donations to Richmond PTA’s Read for Richmond directly support STEAM at
          Richmond. Richmond PTA is run by parent volunteers who are dedicated to
          maximizing the impact of your fundraising dollars. Learn more about Richmond
          PTA at <a href="http://richmondptapdx.com">richmondptapdx.com</a>.
        </p>
      </div>
    </div>
  </div>

  <%= render 'money' %>
</div>
