<% if days_to_end > 0 %>
    <blockquote class="quote-one red-quote">
      <strong><%= days_to_end %> Days Remaining</strong>
      <span style="color:black;">Our read-a-thon ends <%= Rails.configuration.end_date.strftime("%b %d") %></span>
    </blockquote>
<% else %>
    <blockquote class="quote-one yellow-quote">
      <strong>Our read-a-thon has closed</strong>
      <span style="color:black;">but it is never too late to help the Richmond Foundation.  <strong>Donate here!</strong></span>
    </blockquote>
<% end %>

<div class="content">
  <div class="full-bottom"></div>
  <div class="box-960">
    <div class="one-half-responsive half-bottom">
      <h5>Support the Richmond Read-A-Thon!</h5>
      <p>
        The Richmond Read-A-Thon is an exciting way to encourage students to read each day.
        The Read-A-Thon is also a fundraiser for the Richmond School Foundation (RSF), supporting the school's budget
        for teachers and staff.
        The Read-A-Thon raises funds through pledges, and the more our kids read, the more support the school receives!
        <br/><br/>
        The RSF is proud to be a part of this fun project that helps our teachers and staff AND encourages our amazing
        young readers.
        Please support our students by making a pledge to the Read-A-Thon and sharing your student's Read-A-Thon page
        with friends and family.
      </p>
    </div>

    <div class="decoration hide-if-responsive"></div>

    <div class="contact-box one-half-responsive last">
      <div>
        <p class="dropcaps dropcaps-2">
          Students and parents: To access your personal Read-A-Thon page and begin logging your reading minutes, please
          enter the code from your Read-A-Thon flyer or e-mail.
          If you have not received your code, please e-mail us at
          <a href="mailto:rsf.pdx@gmail.com">rsf.pdx@gmail.com</a>
          <br/>
          <a href="<%= priprofile_index_path %>" class="button button-icon button-green">
            <i class="fa fa-angle-double-right"></i>Student Home Page</a>
        </p>
      </div>
      <div style="margin-top:30px;">
        <p class="dropcaps dropcaps-2">
          Teachers: Use your Read-A-Thon portal page to log the minutes that students read during class time.
          If you are having trouble logging in or have not received a username/password, please contact
          <a href="mailto:rsf.pdx@gmail.com">rsf.pdx@gmail.com</a>
          <br/>
          <a href="#" class="button button-icon button-green"> <i class="fa fa-angle-double-right"></i>Teacher
            Portal</a>
        </p>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div class="box-960 half-bottom">
    <p class="dropcaps dropcaps-2">
      If you want to pledge a reader, please contact your student or their parent for a link to their personal
      pledge page, or contact us <a href="mailto:rsf.pdx@gmail.com">rsf.pdx@gmail.com</a> with the student's name, and
      we'll send a link directly to your e-mail. You can
      donate directly to the Richmond School Foundation any time:
      <a href="http://allhandsraised.org/donate/">http://allhandsraised.org/donate/</a>
    </p>
  </div>

  <div class="parallax-strip bg5 full-bottom item" data-0="background-position:0px 0px;" data-150000="background-position:0px -50000px;">
    <div class="overlay"></div>
    <div class="box-960">
      <h1 class="center-text">How does the Read-A-Thon work?</h1>
      <p class="center-text larger transparent">Your Read-A-Thon pledge makes a difference at Richmond!</p>
    </div>
  </div>

  <div class="content">
    <div class="box-960">

      <div class="container center-heading">
        <p class="center-text larger">
          Studies show that childhood reading makes a life-long impact in our children.
          The Read-A-Thon is a powerful way to encourage daily reading and raise money for staffing at Richmond.
          The Richmond Read-A-Thon app, developed by a parent volunteer, allows each student to track daily reading
          time,
          provides a fun game-like interface that rewards participation, and allows RSF to collect pledges and donations
          securely.
        </p>
      </div>
      <div style="width:50%;" class="orange-decoration half-bottom"></div>
      <div class="container half-bottom">
        <div class="one-third-responsive">
          <div class="center-icon-column red-center-icon-column">
            <h1><i class="fa fa-dollar fa-3x"></i></h1>
            <h5>Low Overhead</h5>
            <p>
              Donations to RSF through the Read-A-Thon directly support staffing at Richmond.
              The Read-A-Thon is run by parent volunteers who are dedicated to maximizing the impact of your fundraising
              dollars.
              Find information about RSF's partnership with All Hands Raised and the PPS Foundation.
              <a href="http://allhandsraised.org/localschoolfoundations/">http://allhandsraised.org/localschoolfoundations/</a>
            </p>
          </div>
        </div>
        <div class="decoration hide-if-responsive half-bottom"></div>
        <div class="one-third-responsive">
          <div class="center-icon-column blue-center-icon-column">
            <h1><i class="fa fa-hand-paper-o fa-3x"></i></h1>
            <h5>No Gimmicks</h5>
            <p>
              The Read-A-Thon creates excitement around reading with an encouraging, game-like reward system for
              participating readers.
              We will not spend your pledge dollars on gimmicky toys!
              Instead, a small percentage of funds raised will benefit our classroom libraries thanks to a partnership
              with the Richmond PTA and Scholastic Books.
            </p>
          </div>
        </div>
        <div class="decoration hide-if-responsive half-bottom"></div>
        <div class="one-third-responsive no-bottom last">
          <div class="center-icon-column green-center-icon-column">
            <h1><i class="fa fa-child fa-3x"></i></h1>
            <h5>Support Teachers & Staff</h5>
            <p>
              The RSF's sole mission is to raise funds for staff positions at our school to help sustain Richmond's
              dual-immersion model,
              promote academic achievement, enhance classroom support, and increase enrichment activities.
              Your pledge to the Read-A-Thon is a pledge of support for the wonderful teachers and staff who guide and
              help our kids each day.
            </p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
