<div class="social-strip">
  <div class="box-960">
    <div class="left-social-strip animated fadeIn">
      <h3>Promote Your Read-A-Thon Profile</h3>
      <h5>share your profile on social networks</h5>
    </div>
    <div class="right-social-strip">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
</div>

<div class="content">
  <div class="box-960">
    <div class="small-breadcrumb">
      <div class="left-breadcrumb">
        <%= link_to "#{@student.first}'s Profile", pub_profile_path(@student.id) %>
        <a href="#"><i class="fa fa-angle-right"></i>Make a Pledge</a>
      </div>
      <div class="right-breadcrumb">
      </div>
      <div class="clear"></div>
      <div style="margin-bottom:20px;" class="decoration"></div>
    </div>

    <div class="one-half-responsive no-bottom" style="margin-right:5%">
      <h1 style="margin-bottom:0;font-size:30px;"><%= @student.first %></h1>
      <em><%= @student.teacher.grade.ordinalize %> Grade - <%= @student.teacher.last %> sensei</em>

      <br/><br/>
      <p>You can donate in two ways. You can pledge Cain for every hour Cain reads during the read-a-thon. For example,
        if you pledge $5 and hour and Cain reads 10 hours then you will have helped us raise $50. We have added an
        ability
        for you to set a min and a max to your bid. If you know you would like to at least help Cain by giving $20,
        then set that has your min. If you are worried about Cain reading the whole Harry Potter series durring the
        read-a-thon,
        then you can set your max to $100. A second way to donate is to just pledge a flat amount. If you know you want
        to
        give $50, nothing more nothing less, then feel free to donate that way.

        Thank you for your support!</p>

      <a href="#more_info">Find out more about how our money is raised and spent.</a>
    </div>

    <div style="margin-top:20px;" class="one-half-responsive last no-bottom">
      <div class="horizontalTab">
        <ul>
          <li><a href="#tab-3">Pledge Per Hour</a></li>
          <li><a href="#tab-4">Pledge Fixed $ Amount</a></li>
        </ul>

        <div id="tab-3">
          <h6 class="half-bottom">Hourly Pledge</h6>
          <p class="half-bottom">
            <input onfocus="if (this.value=='Name or Nickname (optional)') this.value = ''"
                   onblur="if (this.value=='') this.value = 'Name or Nickname (optional)'"
                   type="text" class="text-input-one good-value"
                   value="Name or Nickname (optional)">
            <input onfocus="if (this.value=='Email Address (required)') this.value = ''"
                   onblur="if (this.value=='') this.value = 'Email Address (required)'"
                   type="text" class="text-input-one good-value"
                   value="Email Address (required)">
            <input onfocus="if (this.value=='Pledge Amount Per Hour Read') this.value = ''"
                   onblur="if (this.value=='') this.value = 'Pledge Amount Per Hour Read'"
                   type="text" class="text-input-one good-value"
                   value="Pledge Amount Per Hour Read">
            <textarea name="contactMessageTextarea" class="textarea-input contactTextarea field-deco requiredField"
                      onfocus="if (this.value=='Message (optional)') this.value = ''"
                      onblur="if (this.value=='') this.value = 'Message (optional)'">Message (optional)</textarea>
            <input onfocus="if (this.value=='Min Amount (optional)') this.value = ''"
                   onblur="if (this.value=='') this.value = 'Min Amount (optional)'"
                   type="text" class="text-input-one good-value"
                   style="width: 47%; float:left;"
                   value="Min Amount (optional)">
            <input onfocus="if (this.value=='Max Amount (optional)') this.value = ''"
                   onblur="if (this.value=='') this.value = 'Max Amount (optional)'"
                   type="text" class="text-input-one good-value"
                   style="width: 47%; float:left; margin-left:20px;"
                   value="Max Amount (optional)">
            <input type="submit" class="button button-green center-button" value="Make Pledge"/>
          </p>
        </div>
        <div id="tab-4">
          <h6 class="half-bottom">Fixed Pledge</h6>
          <p class="half-bottom">
            <input onfocus="if (this.value=='Name or Nickname (optional)') this.value = ''"
                   onblur="if (this.value=='') this.value = 'Name or Nickname (optional)'"
                   type="text" class="text-input-one good-value"
                   value="Name or Nickname (optional)">
            <textarea name="contactMessageTextarea" class="textarea-input contactTextarea field-deco requiredField"
                      onfocus="if (this.value=='Message (optional)') this.value = ''"
                      onblur="if (this.value=='') this.value = 'Message (optional)'">Message (optional)</textarea>
            <input onfocus="if (this.value=='Fixed Pledage Amount') this.value = ''"
                   onblur="if (this.value=='') this.value = 'Fixed Pledage Amount'"
                   type="text" class="text-input-one good-value"
                   value="Fixed Pledage Amount">
            <input type="submit" class="button button-green center-button" value="Make Pledge"/>
          </p>
        </div>
      </div>
    </div>

    <div class="decoration hide-if-responsive"></div>
    <div class="clear"></div>
    <br/><br/>
  </div>
</div>

<div id="more_info" class="parallax-strip bg5 full-bottom item" data-0="background-position:0px 0px;" data-150000="background-position:0px -50000px;">
  <div class="overlay"></div>
  <div class="box-960">
    <h1 class="center-text">Your Privacy is important to us</h1>
    <p class="center-text larger transparent">What are we going to do with your pledge data.</p>
  </div>
</div>

<div class="content">
  <div class="box-960">

    <div class="container center-heading">
      <p class="center-text larger">
        The information you provide us is only used to this read-a-thon.  It will not be shared with any 3rd party organizations.  Or used in any way by our organization other than to help power this read-a-thon.
        We ask for your name or nickname, so that your sponsor can see who sponsdered them.  Your email address will be used to contact you at the end of the read-a-thon for payment.  We will not use thia address
        to contact you for any other purposes.
      </p>
    </div>
    <div class="orange-decoration half-bottom"></div>
  </div>
</div>
