<% if days_to_end > 0 %>
    <blockquote class="quote-one red-quote">
      <strong><%= days_to_end %> Days Remaining</strong>
      <span style="color:black;">Our read-a-thon ends <%= Rails.configuration.end_date.strftime("%b %d") %></span>
    </blockquote>
<% else %>
    <blockquote class="quote-one yellow-quote">
      <strong>Our read-a-thon has closed</strong>
      <span style="color:black;">but it is never too late to help the Richmond Foundation.  <strong>Donate here!</strong></span>
    </blockquote>
<% end %>

<div class="content half-bottom">
  <div class="full-bottom"></div>
  <div class="box-960">
    <div class="one-half-responsive half-bottom">
      <h5>Support Reading At Richmond Elementary!</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta erat justo, eu posuere tellus
        facilisis eu. Ut sed justo a augue sollicitudin iaculis at et justo. Vestibulum felis nulla, dignissim eu porta
        non, blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta erat justo, eu posuere
        tellus facilisis eu. Ut sed justo a augue sollicitudin iaculis at et justo. Vestibulum felis nulla, dignissim eu
        porta non, blandit.
      </p>
    </div>

    <div class="decoration hide-if-responsive"></div>

    <div class="contact-box one-half-responsive last">
      <div>
      <p class="dropcaps dropcaps-2">
        Students and parents all you need to access the site is your
        read-a-thon code.  If you have not recieved your code please
        contact us at <a href="mailto:rsf.pdx@gmail.com">rsf.pdx@gmail.com</a>
        <br/>
        <a href="<%= priprofile_index_path %>" class="button button-icon button-green">  <i class="fa fa-angle-double-right"></i>Student Home Page</a>
      </p>
      </div>
      <div style="margin-top:30px;">
      <p class="dropcaps dropcaps-2">
        Teachers use your read-a-thon portal page to credit students for
        minutes that have been read in the classroom.  If you are having
        issues with your username/password or have not received one contact
        us <a href="mailto:rsf.pdx@gmail.com">rsf.pdx@gmail.com</a>
        <br/>
        <a href="#" class="button button-icon button-green">  <i class="fa fa-angle-double-right"></i>Teacher Portal</a>
      </p>
    </div>
  </div>
    <div class="clear"></div>
  </div>
</div>

<div class="parallax-strip bg5 full-bottom item" data-0="background-position:0px 0px;" data-150000="background-position:0px -50000px;">
  <div class="overlay"></div>
  <div class="box-960">
    <h1 class="center-text">So where does all the money go?</h1>
    <p class="center-text larger transparent">The breakdown of the money is easy. Our school keeps 97% of what is
      raised.</p>
  </div>
</div>

<div class="content">
  <div class="box-960">

    <div class="container center-heading">
      <p class="center-text larger">
        There is no better way for a school to raise money then a read-a-thon. Family, Friends, and neighbors understand
        how important education and reading skills are.
        Very few fundraising ideas offer such clear benefits to children and the groups they are raising money for.
      </p>
    </div>
    <div style="width:50%;" class="orange-decoration half-bottom"></div>
    <div class="container half-bottom">
      <div class="one-third-responsive">
        <div class="center-icon-column red-center-icon-column">
          <h1><i class="fa fa-dollar fa-3x"></i></h1>
          <h5>Low Overhead</h5>
          <p class="half-bottom">
            We keep as much of our fundraising dollars at Richmond. Our only expense is a 3% credit card transaction
            fee.
          </p>
        </div>
      </div>
      <div class="decoration hide-if-responsive half-bottom"></div>
      <div class="one-third-responsive">
        <div class="center-icon-column blue-center-icon-column">
          <h1><i class="fa fa-hand-paper-o fa-3x"></i></h1>
          <h5>No Gimmick Prizes</h5>
          <p class="half-bottom">
            Our read-a-thon is not about toys. Children can redeem a small % of the money raised to buy books at our PTA
            book fare.
          </p>
        </div>
      </div>
      <div class="decoration hide-if-responsive half-bottom"></div>
      <div class="one-third-responsive no-bottom last">
        <div class="center-icon-column green-center-icon-column">
          <h1><i class="fa fa-child fa-3x"></i></h1>
          <h5>Supports Teaching Positions</h5>
          <p class="half-bottom">
            Our sole mission is to raise funds for staff positions at our school to help sustain Richmond's
            dual-immersion model.
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
