<div class="content">
  <div class="full-bottom"></div>
  <div class="box-960">
    <p>
    <div style="font-weight: 500">
    <h3>Frequently Asked Questions</h3>
    Q: Can my child participate without collecting pledges?<br/>
    寄付を集めなくても参加できますか?<br/>
    A: Yes, we want all children to read! Your child can track their reading time online without collecting pledges.<br/>
    はい。すべての子供達に本を読んでもらいたいと思っています。寄付の有無に関わらず、子供達は、読書時間をオンラインで記録できます。<br/>
    <br/>
    Q: Is my child automatically registered?<br/>
    子供は自動的に登録されるのですか？<br/>
    A: No, you will need to activate your child’s account at Read4Richmond.com in order to track their reading and collect pledges or donations.<br/>
    いいえ。読書時間を記録したり寄付を集めたりするためには、Read4Richmond.comでお子さんのアカウントを有効にする必要があります。<br/>
    <br/>
    Q: What if I don’t have regular access to the internet?<br/>
    インターネットへアクセスできる環境がないのですが…。<br/>
    A: You can record your child’s daily reading on a piece of paper at home and turn it in by Feb. 8 to the Red PTA Mailbox in the main hallway. We will add your child’s total time.<br/>
    毎日の読書時間を紙に記録して、Read4Richmondの最終日、2月8日に、PTAの赤いメールボックスに提出してください。こちらでお子さんの合計読書時間を計算します。<br/>
    <br/>
    Q: What kind of reading counts during Read4Richmond?<br/>
    どんな種類の読書がRead4Richmondの読書時間として認められますか？<br/>
    A:  All reading activities count! Parent reading, individual reading, audiobooks, reading in Japanese all count!<br/>
    あらゆる読書に関わる活動がカウントされます。読み聞かせ、自分での読書、オーディオブック、日本語での読書もです！<br/>
    <br/>
    Q: Will my child’s classroom reading count?<br/>
    学校での読書時間もカウントされますか？<br/>
    A: Yes, classroom reading will be automatically added to your child’s total reading time.<br/>
    はい。学校での読書は自動的にあなたの子供の読書時間に加算されます。<br/>
    <br/>
    Q:  Will there be prizes?<br/>
    賞品はあるのですか？<br/>
    A: To encourage reading rather than individual competition, rewards will be tied to total classroom participation. Classes that meet their reading goal will be awarded a “Golden Ticket” for a fun activity to be awarded at their teacher’s discretion. Hooray!<br/>
    読書を個人間の競争にしないように、クラスの総合的な参加を評価して表彰します。目標を達成したクラスは、「ゴールデンチケット」を手にすることができ、先生の裁量で楽しいアクティビティを行います。<br/>
    <br/>
    Q: Will this be fun for my child?<br/>
    子供にとって楽しいのでしょうか？<br/>
    A: We hope so! The Read4Richmond application was built by a Richmond parent and includes reading challenges, avatars to unlock at each reading level, and badges to earn.<br/>
    そうであることを願っています。Read4Richmondのアプリは、リッチモンドの保護者が作成してくれました。チャレンジがありますし、レベルをクリアすると新しいアバターを選択できたり、バッヂをもらえるなど、楽しい工夫がしてあります。<br/>
    <br/>
    Q: How are donations used?<br/>
    寄付は、どのように使われるのでしょうか?<br/>
    A: Donations go directly to the school administration to fund student enrichment opportunities. This year, donations will fund a significant expansion to the number of leveled books in all Japanese classrooms. 10% of the donation remains with Richmond PTA for administrative and other expenses, per PTA standing rules. All donations, other than credit card fees, will stay at Richmond.<br/>
    寄付金は直接、学校の運営に使われます。今年の寄付は、各レベルの本を日本語の教室により多く置く為に使われます！PTAの規約に基づき、寄付の10%はPTAの運営費、諸経費の為にも使われます。クレジットカードの手数料以外は、このイベントで集められた寄付金は全てリッチモンドの為に使われることになります。<br/>
    <br/>
    Q: How many books need to be purchased?<br/>
    本は何冊を購入する必要がありますか？
    A: A lot! To best support the students at individual reading-skill levels, the Japanese teachers each need to purchase hundreds of books for their classroom libraries.<br/>
    多くの本が必要です！一人一人の読書レベルに合わせて生徒をサポートできるよう、様々なレベルの本を教室に揃える必要があります。必要な本は、全体では数百冊になる見込みです。<br/>
    Q: What is the fundraising goal for Read4Richmond?<br/>
    募金目標額はいくらですか?<br/>
    A: Our fundraising goal is approximately $40 per student.<br/>
    目標額は生徒一人当たりにすると約40ドルになります。<br/>
    <br/>
    Q: Can I just write a check to support Read4Richmond’s fundraising goals?<br/>
    Read4Richmondをサポートするために、ただチェックを切るのでもいいのでしょうか?<br/>
    A: Yes! You can write a check to “Richmond PTA” and drop it in the Red Mailbox in the main hallway. Please indicate your child’s name and “Read4Richmond” in the memo line.<br/>
    もちろんです。Richmond PTA宛にチェックを書いて、PTAの赤いメールボックスに入れてください。メモ欄に、あなたのお子さんの名前と「Read4Richmond」と書くのを忘れずに。<br/>
    <br/>
    Q: How do pledges work?<br/>
    寄付はどうやって集めるのでしょうか？<br/>
    A: To encourage a love of reading rather than competition, pledges will not be tied to the amount of reading your child accomplishes. Donations can be made online or by check made out to “Richmond PTA.”<br/>
    競争ではなく、楽しく本を読んでもらえるように、寄付は子供の読書量とは関係なく集めていただけます。オンラインでも寄付できますし、Richmond PTA宛にチェックを切っていただいても結構です。<br/>
    </div>
    <br/>
    <br/><br/>
    </p>
  </div>
</div>