<div class="content">
  <div class="full-bottom"></div>
  <div class="box-960">
    <h3>Read-A-Thon Privacy Policy</h3>

    <p>
      Our privacy policy is simple.
      <ul>
        <li>If you enter a nick name it is displayed for the person you have sponsored.</li>
        <li>Your email address is used to contact you when your pledge is due.</li>
        <li>We don't share your information with anybody.</li>
        <li>We do not use your information to solicit you for future fund raising.</li>
        <li>Our databases will be deleted when the Read-A-Thon is over.</li>
        <li>Payments are collect by All Hands Raised.  Their privacy policy is very simple as well and is included here:
          <br/><br/><i>"Your personal information will not be shared with anyone other than All Hands Raised and the payment processor to securely process this transaction"</i></li>
      </ul>
      <br/><br/>
    </p>
  </div>
</div>