<div class="content">
  <div class="full-bottom"></div>
  <div class="box-960">
    <h3>Read for Richmond Privacy Policy</h3>

    <p>
      Our privacy policy is simple.
      <ul>
        <li>We will not share your personal information.</li>
        <li>Only your child's first name will be displayed publicly.</li>
        <li>Your e-mail address will be used for Read for Richmond follow-up only.</li>
        <li>Our databases will be deleted when the Read for Richmond is over.</li>
        <li>Read for Richmond donations are collected by All Hands Raised, the umbrella organization of the Richmond School Foundation. Their privacy policy is included here:
          <br/><br/><i>"Your personal information will not be shared with anyone other than All Hands Raised and the payment processor to securely process this transaction"</i></li>
      </ul>
      <br/><br/>
    </p>
  </div>
</div>