<div class="content">
  <div class="full-bottom"></div>
  <div class="box-960">
    <h3>Read for Richmond Support</h3>

    <p>
      If you are experiencing a technical problem with our site or have any questions please email us at <a href="mailto:read4richmond@richmondptapdx.com">read4richmond@richmondptapdx.com</a>
      <br/><br/>
    </p>
  </div>
</div>