<div class="content">
  <div class="full-bottom"></div>
  <div class="box-960">
    <h3>Read for Richmond Support</h3>

    <p>
      If you are experiencing a technical problem with our site, did not receive a welcome email with your code,
      or have any questions then please email us at <a href="mailto:rsf.pdx@gmail.com">rsf.pdx@gmail.com</a>
      <br/><br/>
    </p>
  </div>
</div>