<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Help support <%= @student.first %>'s read-a-thon</title>
</head>
<body>
Dear Friends and Family,
<br/><br/>
<%= @student.first %> is currently participating in Richmond Elementary School's Read-a-thon to help raise money for school’s art, garden, and science docent programs, a kindergarten music teacher, a computer teacher, field trips, and classroom supplies. Limited state funding has cut these important programs, activities, and supplies, which are not provided by the school but instead are funded by the Foundation.
<br/><br/>
<%= @student.first %> has committed to reading 35 minutes a day during the read-a-thon and is looking forward to your support.
<br/><br/>
If you are interested in sponsoring Cain in the Read-a-thon and helping our fundraising goal (even a little bit goes a long way!).
<br/><br/>
You can pledge or donate online by clicking on the following link: http://bit.ly/2c1Irz5
<br/><br/>
Thank you so much for your support.
<br/><br/>
Sincerely, <%= @name %>,
</body>
</html>