<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Help support <%= @student.first %>'s Read-A-Thon</title>
</head>
<body>
<pre>
<%= @message %>
</pre>
</body>
</html>