<h3>Read-A-Thon Add Teacher</h3>

<%= form_for @teacher, url: rmgr_teachers_path do |f| %>

    <%= render 'edit', f: f , msg: "required" %>

    <%= f.submit "Add Teacher", :class => 'button button-blue', :style => "float:left; margin-right:10px;" %>
    <%= link_to "Back", :back, :class => 'button button-light', :style => 'float:right; margin-left:10px;' %>

<% end %>
