<div class="social-strip">
  <div class="box-960">
    <div class="left-social-strip animated fadeIn">
      <h3>Help us spread the word</h3>
      <h5>share us on your favorite social networks</h5>
    </div>
    <div class="right-social-strip">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
</div>

<blockquote class="quote-one yellow-quote">
  <strong>Our read-a-thon has closed</strong> <span style="color:black;">but it is never too late to help the Richmond Foundation.  <strong>Donate here!</strong></span>
</blockquote>
<blockquote class="quote-one red-quote">
  <strong>13 Days Remaining</strong> <span style="color:black;">Our read-a-thon runs from Oct 10th to Oct 24</span>
</blockquote>

<div class="content">
  <div class="full-bottom"></div>
  <div class="box-960">
    <div class="one-half-responsive no-bottom">
      <h5>Support Reading At Richmond Elementary!</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta erat justo, eu posuere tellus facilisis eu. Ut sed justo a augue sollicitudin iaculis at et justo. Vestibulum felis nulla, dignissim eu porta non, blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta erat justo, eu posuere tellus facilisis eu. Ut sed justo a augue sollicitudin iaculis at et justo. Vestibulum felis nulla, dignissim eu porta non, blandit.
      </p>
    </div>

    <div class="decoration hide-if-responsive"></div>

    <div class="contact-box one-half-responsive last">
      <h5>Lookup a Reader!</h5>
      <div class="contact-form no-bottom">
        <form action="php/contact.php" method="post" class="contactForm" id="contactForm">
          <fieldset class="full-bottom">
            <div class="formFieldWrap container">
              <label class="field-title contactNameField" for="contactNameField">
                Name
                <em class="formValidationError no-bottom" id="contactNameFieldError">field is required!</em>
                <span>(required)</span>
              </label>
              <input type="text" name="contactNameField" value="" class="contactField field-deco requiredField" id="contactNameField"/>
            </div>
            <div class="formSubmitButtonErrorsWrap">
              <i class="fa fa-book"></i>
              <input type="submit" class="buttonWrap contactSubmitButton" id="contactSubmitButton" value="Sponsor" data-formId="contactForm"/>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>

<div class="parallax-strip bg5 full-bottom item" data-0="background-position:0px 0px;" data-150000="background-position:0px -50000px;">
  <div class="overlay"></div>
  <div class="box-960">
    <h1 class="center-text">So where does all the money go?</h1>
    <p class="center-text larger transparent">The breakdown of the money is easy.  Our school keeps 97% of what is raised.</p>
  </div>
</div>

<div class="content">
  <div class="box-960">

    <div class="container center-heading">
      <p class="center-text larger">
        There is no better way for a school to raise money then a read-a-thon.  Family, Friends, and neighbors understand how important education and reading skills are.
        Very few fundraising ideas offer such clear benefits to children and the groups they are raising money for.
      </p>
    </div>
    <div class="orange-decoration half-bottom"></div>
    <div class="container half-bottom">
      <div class="one-third-responsive">
        <div class="center-icon-column red-center-icon-column">
          <h1><i class="fa fa-dollar fa-3x"></i></h1>
          <h5>Low Overhead</h5>
          <p class="half-bottom">
            We keep as much of our fundraising dollars at Richmond.  Our only expense is a 3% credit card transaction fee.
          </p>
          <a href="#" class="button button-red center-button">Read More</a>
        </div>
      </div>
      <div class="decoration hide-if-responsive half-bottom"></div>
      <div class="one-third-responsive">
        <div class="center-icon-column blue-center-icon-column">
          <h1><i class="fa fa-hand-paper-o fa-3x"></i></h1>
          <h5>No Gimmick Prizes</h5>
          <p class="half-bottom">
            Our read-a-thon is not about toys.  Children can redeem a small % of the money raised to buy books at our PTA book fare.
          </p>
          <a href="#" class="button button-blue center-button">Read More</a>
        </div>
      </div>
      <div class="decoration hide-if-responsive half-bottom"></div>
      <div class="one-third-responsive no-bottom last">
        <div class="center-icon-column green-center-icon-column">
          <h1><i class="fa fa-child fa-3x"></i></h1>
          <h5>Supports Teaching Positions</h5>
          <p class="half-bottom">
            Our sole mission is to raise funds for staff positions at our school to help sustain Richmond's dual-immersion model.
          </p>
          <a href="#" class="button button-green center-button">Read More</a>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
