<div class="social-strip">
  <div class="box-960">
    <div class="left-social-strip animated fadeIn">
      <h3>Help us spread the word</h3>
      <h5>share us on your favorite social networks</h5>
    </div>
    <div class="right-social-strip">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
</div>

<div class="content">
  <div class="full-bottom"></div>
  <div class="box-960">
    <p>
      Login windows are optional but you can use them if you wish to add an admin panel to this template,
      these are just templates, so at the moment, you can just see how they would look if they'd get coded
      Again, emphesizing this strongly, these are just templates, at the moment, they do not login into any
      page and they are NOT connected to a WordPress panel or anyother CMS!
    </p>
  </div>

  <div class="login-box-one one-third-responsive">
    <div style="display: none; width: 270px;margin: 0 auto;">
    </div>
    <div style="width: 270px;margin: 0 auto;">
      &nbsp;
    </div>
  </div>

  <div class="login-box-one one-third-responsive">
    <div class="login-wrapper half-bottom">
      <img src="images/rsf_logo.png" alt="img">
      <p class="half-bottom">A sweet simple login page template, there are a few variations you'll love!</p>
      <em><i class="fa fa-lock"></i>Code</em>
      <input onfocus="if (this.value=='') this.value = ''" onblur="if (this.value=='') this.value = ''" type="text" value="" class="green-focus login-box-one-pwd half-bottom">
      <a href="#" class="button button-green center-button half-bottom">Login</a>
      <em class="forgot-login no-bottom">Forgot <a href="#">Username</a> or <a href="#">Password</a>?</em>
    </div>
    <em class="create-account">Don't have an account? <a href="#">Register</a> for free!</em>
  </div>

  <div class="clear"></div>

</div>