<div class="social-strip">
  <div class="box-960">
    <div class="left-social-strip animated fadeIn">
      <h3>Promote Your Read-A-Thon Profile</h3>
      <h5>share your profile on social networks</h5>
    </div>
    <div class="right-social-strip">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
</div>

<blockquote class="quote-one yellow-quote">
  <strong>Daily Challange: </strong> <span style="color:black;">This is a blockquote, it can be used to make quotes look sexy, important, or whatever you want to do with your quotes.
  It's simple to use, just the blockquote class will do! PHOTO OF BADGE HERE</span>
</blockquote>


<div class="content">
  <div class="full-bottom"></div>
  <div class="box-960">
    <div class="one-half-responsive no-bottom">
      <h1 style="margin-bottom:0;">Cain G</h1>
      <em>2nd Grade - Mrs Kapronos</em>

      <img style="margin-top: 20px; border-radius: 25px; border: 2px solid #000;" src="/images/profile/dragon.jpg" width="50%"/>
      <p><a href="">change your profile image</a></p>

      <div style="border: dashed; width:400px; height:90px;margin-bottom:20px;">Time Component</div>

      <div class="chart chart-round">
        <strong>Progress to next level</strong>
        <em>30m to go</em>
        <div class="chart-background half-bottom">
          <div class="blue-chart p50"></div>
        </div>
      </div>
    </div>

    <div class="decoration hide-if-responsive"></div>

    <div class="one-fifth-responsive one-third-full" style="float:right;">
      <div class="pricing-table pricing-selected-green">
        <h1>
          Level 3 Reader
        </h1>
        <h2>
          $9.99
          <em>pledged</em>
        </h2>
        <ul>
          <li>You have read for 1h 30m</li>
          <li>8 badges earned</li>
          <li>9 pledges</li>
          <li>2nd Grade has raised $2,345.00</li>
        </ul>
        <a href="#" class="button center-button button-red">Pledge Request</a>
      </div>
    </div>
    <div class="clear"></div>
    <br/><br/>
  </div>
</div>

<div class="content">
  <div class="box-960">
    <div class="decoration"></div>

    <div class="container no-bottom">
      <h5>Badges you have earned</h5>
      <div class="one-half-responsive">
        <blockquote class="quote-one">
          <strong>Grandma Peg pledged $20</strong><br/>
          This is a blockquote, it can be used to make quotes look sexy, important, or whatever you want to do with your quotes.
          It's simple to use, just the blockquote class will do!
        </blockquote>
        <br>
        <blockquote class="quote-one red-quote">
          <strong>Uncle Tom pledged 20 cents a minute</strong><br/>
          This is a blockquote, it can be used to make quotes look sexy, important, or whatever you want to do with your quotes.
          It's simple to use, just the blockquote class will do!
        </blockquote>
        <br>
        <blockquote class="quote-one blue-quote">
          <strong>Matt Giacomini says</strong> This is a blockquote, it can be used to make quotes look sexy, important, or whatever you want to do with your quotes.
          It's simple to use, just the blockquote class will do!
        </blockquote>
        <br>
        <blockquote class="quote-one green-quote">
          <strong>Mom says</strong> This is a blockquote, it can be used to make quotes look sexy, important, or whatever you want to do with your quotes.
          It's simple to use, just the blockquote class will do!
        </blockquote>
      </div>
      <div class="one-half-responsive last no-bottom">
        <h5>People who have pledged</h5>
        <blockquote class="quote-two">
          <i class="fa fa-quote-left fa-5x"></i>
          <strong>Grandma Peg pledged 5 cents a minute</strong><br/>This is a blockquote, it can be used to make quotes look sexy, important, or whatever you want to do with your quotes.
          It's simple to use, just the blockquote class will do!<br><br>
        </blockquote>
        <br>
        <blockquote class="quote-two">
          <i class="fa fa-quote-left red-quote fa-5x"></i>
          <strong>Uncle Tom pledged 10 cents a minute</strong><br/> This is a blockquote, it can be used to make quotes look sexy, important, or whatever you want to do with your quotes.
          It's simple to use, just the blockquote class will do!<br><br>
        </blockquote>
        <br>
        <blockquote class="quote-two">
          <i class="fa fa-quote-left blue-quote fa-5x"></i>
          <strong>Matt Giacomini says</strong> This is a blockquote, it can be used to make quotes look sexy, important, or whatever you want to do with your quotes.
          It's simple to use, just the blockquote class will do!<br><br>
        </blockquote>
        <br>
        <blockquote class="quote-two">
          <i class="fa fa-quote-left green-quote fa-5x"></i>
          <strong>Mom says</strong> This is a blockquote, it can be used to make quotes look sexy, important, or whatever you want to do with your quotes.
          It's simple to use, just the blockquote class will do!<br><br>
        </blockquote>
        <br>
      </div>
      <div class="clear"></div>
    </div>
    <div class="decoration"></div>
  </div>
</div>

