<div class="content box-960">
  <div class="content small-breadcrumb">
    <div class="left-breadcrumb">
      <%= link_to 'Private Profile', tests_pri_profile_path %>
      <a href="#"><i class="fa fa-angle-right"></i>Avatar Selection</a>
    </div>
    <div class="right-breadcrumb">
    </div>
    <div class="clear"></div>
    <div style="margin-bottom:20px;" class="decoration"></div>
  </div>

  <div class="portfolio-three-item-categories-title">
    <p>Unlock these images at your next level</p>
  </div>
  <div style="margin-bottom:20px" class="portfolio-three-item-categories">
    <a href="#" class="selected-portfolio-three-cat" id="all">All Items</a>
    <a href="#" id="dragon">Dragons</a>
    <a href="#" id="princess">Princess</a>
    <a href="#" id="animal">Animal</a>
    <a href="#" id="sports">Sports</a>
  </div>
  <div style="margin-bottom:20px;" class="clear decoration"></div>

  <div class="portfolio-three-wrapper">
    <div class="dragon portfolio-three-item">
      <div>
        <div class="overlay"></div>
        <a href="#" class="clicked-gallery" title="Dragon L4"><span style="background-color:#2980b9;padding:35px;color:#FFF">Next Level</span></a>
        <img src="/images/profiles/dragon_l4.png" class="responsive-image preload" style="display: block;">
      </div>
    </div>
    <div class="princess portfolio-three-item">
      <div>
        <div class="overlay"></div>
        <a href="#" class="clicked-gallery" title="Princess L4"><span style="background-color:#2980b9;padding:35px;color:#FFF">Next Level</span></a>
        <img src="/images/profiles/princess_l4.png" class="responsive-image preload" style="display: block;">
      </div>
    </div>
    <div class="animal portfolio-three-item">
      <div>
        <div class="overlay"></div>
        <a href="#" class="clicked-gallery" title="Animal L4"><span style="background-color:#2980b9;padding:35px;color:#FFF">Next Level</span></a>
        <img src="/images/profiles/animal_l4.png" class="responsive-image preload" style="display: block;">
      </div>
    </div>
    <div class="sports portfolio-three-item">
      <div>
        <div class="overlay"></div>
        <a href="#" class="clicked-gallery" title="Sports L4"><span style="background-color:#2980b9;padding:35px;color:#FFF">Next Level</span></a>
        <img src="/images/profiles/sports_l4.png" class="responsive-image preload" style="display: block;">
      </div>
    </div>
  </div>

  <div style="" class="decoration no-bottom"></div>
  <div class="portfolio-three-item-categories-title" style="margin-bottom:20px; margin-top:10px;">
    <p>Available Images</p>
  </div>
  <div style="margin-bottom:20px;" class="clear decoration"></div>

  <div class="portfolio-three-wrapper full-bottom">
    <div class="dragon portfolio-three-item">
      <div>
        <div class="overlay"></div>
        <a href="#" class="clicked-gallery" title="Dragon L3"><span style="background-color:#2980b9;padding:35px;color:#FFF">Select Image</span></a>
        <img src="/images/profiles/dragon_l3.png" class="responsive-image preload" style="display: block;">
      </div>
    </div>
    <div class="princess portfolio-three-item">
      <div>
        <div class="overlay"></div>
        <a href="#" class="clicked-gallery" title="Princess L3"><span style="background-color:#2980b9;padding:35px;color:#FFF">Select Image</span></a>
        <img src="/images/profiles/princess_l3.png" class="responsive-image preload" style="display: block;">
      </div>
    </div>
    <div class="animal portfolio-three-item">
      <div>
        <div class="overlay"></div>
        <a href="#" class="clicked-gallery" title="Animal L3"><span style="background-color:#2980b9;padding:35px;color:#FFF">Select Image</span></a>
        <img src="/images/profiles/animal_l3.png" class="responsive-image preload" style="display: block;">
      </div>
    </div>
    <div class="sports portfolio-three-item">
      <div>
        <div class="overlay"></div>
        <a href="#" class="clicked-gallery" title="Sports L3"><span style="background-color:#2980b9;padding:35px;color:#FFF">Select Image</span></a>
        <img src="/images/profiles/sports_l3.png" class="responsive-image preload" style="display: block;">
      </div>
    </div>

    <div class="dragon portfolio-three-item">
      <div>
        <div class="overlay"></div>
        <a href="#" class="clicked-gallery" title="Dragon L2"><span style="background-color:#2980b9;padding:35px;color:#FFF">Select Image</span></a>
        <img src="/images/profiles/dragon_l2.png" class="responsive-image preload" style="display: block;">
      </div>
    </div>
    <div class="princess portfolio-three-item">
      <div>
        <div class="overlay"></div>
        <a href="#" class="clicked-gallery" title="Princess L2"><span style="background-color:#2980b9;padding:35px;color:#FFF">Select Image</span></a>
        <img src="/images/profiles/princess_l2.png" class="responsive-image preload" style="display: block;">
      </div>
    </div>
    <div class="animal portfolio-three-item">
      <div>
        <div class="overlay"></div>
        <a href="#" class="clicked-gallery" title="Animal L2"><span style="background-color:#2980b9;padding:35px;color:#FFF">Select Image</span></a>
        <img src="/images/profiles/animal_l2.png" class="responsive-image preload" style="display: block;">
      </div>
    </div>
    <div class="sports portfolio-three-item">
      <div>
        <div class="overlay"></div>
        <a href="#" class="clicked-gallery" title="Sports L2"><span style="background-color:#2980b9;padding:35px;color:#FFF">Select Image</span></a>
        <img src="/images/profiles/sports_l2.png" class="responsive-image preload" style="display: block;">
      </div>
    </div>

    <div class="dragon portfolio-three-item">
      <div>
        <div class="overlay"></div>
        <a href="#" class="clicked-gallery" title="Dragon L1"><span style="background-color:#2980b9;padding:35px;color:#FFF">Select Image</span></a>
        <img src="/images/profiles/dragon_l1.png" class="responsive-image preload" style="display: block;">
      </div>
    </div>
    <div class="princess portfolio-three-item">
      <div>
        <div class="overlay"></div>
        <a href="#" class="clicked-gallery" title="Princess L1"><span style="background-color:#2980b9;padding:35px;color:#FFF">Select Image</span></a>
        <img src="/images/profiles/princess_l1.png" class="responsive-image preload" style="display: block;">
      </div>
    </div>
    <div class="animal portfolio-three-item">
      <div>
        <div class="overlay"></div>
        <a href="#" class="clicked-gallery" title="Animal L1"><span style="background-color:#2980b9;padding:35px;color:#FFF">Select Image</span></a>
        <img src="/images/profiles/animal_l1.png" class="responsive-image preload" style="display: block;">
      </div>
    </div>
    <div class="sports portfolio-three-item">
      <div>
        <div class="overlay"></div>
        <a href="#" class="clicked-gallery" title="Sports L1"><span style="background-color:#2980b9;padding:35px;color:#FFF">Select Image</span></a>
        <img src="/images/profiles/sports_l1.png" class="responsive-image preload" style="display: block;">
      </div>
    </div>

  </div>
</div>