<div class="content box-960">
  <div class="decoration half-bottom"></div>
  <div class="portfolio-three-item-categories-title">
    <p>Earn these images at your next level</p>
  </div>
  <div class="portfolio-three-item-categories half-bottom">
    <a href="#" class="selected-portfolio-three-cat" id="all">All Items</a>
    <a href="#" id="dragon">Dragons</a>
    <a href="#" id="princess">Princess</a>
    <a href="#" id="animal">Animal</a>
  </div>
  <div class="clear decoration"></div>

  <div class="portfolio-three-wrapper">
    <div class="dragon portfolio-three-item">
      <div>
        <div class="overlay"></div>
        <a href="#" class="clicked-gallery" title="Dragon L4"><span style="background-color:#2980b9;padding:35px;color:#FFF">Next Level</span></a>
        <img src="/images/profiles/dragon_l4.png" class="responsive-image preload" style="display: block;">
      </div>
    </div>
    <div class="princess portfolio-three-item">
      <div>
        <div class="overlay"></div>
        <a href="#" class="clicked-gallery" title="Dragon L4"><span style="background-color:#2980b9;padding:35px;color:#FFF">Next Level</span></a>
        <img src="/images/profiles/princess_l4.png" class="responsive-image preload" style="display: block;">
      </div>
    </div>
    <div class="animal portfolio-three-item">
      <div>
        <div class="overlay"></div>
        <a href="#" class="clicked-gallery" title="Dragon L4"><span style="background-color:#2980b9;padding:35px;color:#FFF">Next Level</span></a>
        <img src="/images/profiles/animal_l4.png" class="responsive-image preload" style="display: block;">
      </div>
    </div>
  </div>

  <div style="" class="decoration no-bottom"></div>
  <div class="portfolio-three-item-categories-title" style="margin-bottom:20px; margin-top:10px;">
    <p>Available Images</p>
  </div>
  <div class="clear decoration"></div>

  <div class="portfolio-three-wrapper">
    <div class="dragon portfolio-three-item">
      <div>
        <div class="overlay"></div>
        <a href="itemfolio.html" class="clicked-gallery" title="Open/View Project Links"><span style="background-color:#2980b9;padding:35px;color:#FFF">Select Image</span></a>
        <img src="/images/profiles/dragon_l3.png" class="responsive-image preload" style="display: block;">
      </div>
    </div>
    <div class="princess portfolio-three-item">
      <div>
        <div class="overlay"></div>
        <a href="itemfolio.html" class="clicked-gallery" title="Open/View Project Links"><span style="background-color:#2980b9;padding:35px;color:#FFF">Select Image</span></a>
        <img src="/images/profiles/princess_l3.png" class="responsive-image preload" style="display: block;">
      </div>
    </div>
    <div class="animal portfolio-three-item">
      <div>
        <div class="overlay"></div>
        <a href="itemfolio.html" class="clicked-gallery" title="Open/View Project Links"><span style="background-color:#2980b9;padding:35px;color:#FFF">Select Image</span></a>
        <img src="/images/profiles/animal_l3.png" class="responsive-image preload" style="display: block;">
      </div>
    </div>
    <div class="decoration"></div>

    <div class="dragon portfolio-three-item">
      <div>
        <div class="overlay"></div>
        <a href="itemfolio.html" class="clicked-gallery" title="Open/View Project Links"><span style="background-color:#2980b9;padding:35px;color:#FFF">Select Image</span></a>
        <img src="/images/profiles/dragon_l2.png" class="responsive-image preload" style="display: block;">
      </div>
    </div>
    <div class="princess portfolio-three-item">
      <div>
        <div class="overlay"></div>
        <a href="itemfolio.html" class="clicked-gallery" title="Open/View Project Links"><span style="background-color:#2980b9;padding:35px;color:#FFF">Select Image</span></a>
        <img src="/images/profiles/princess_l2.png" class="responsive-image preload" style="display: block;">
      </div>
    </div>
    <div class="animal portfolio-three-item">
      <div>
        <div class="overlay"></div>
        <a href="itemfolio.html" class="clicked-gallery" title="Open/View Project Links"><span style="background-color:#2980b9;padding:35px;color:#FFF">Select Image</span></a>
        <img src="/images/profiles/animal_l2.png" class="responsive-image preload" style="display: block;">
      </div>
    </div>

    <div class="dragon portfolio-three-item">
      <div>
        <div class="overlay"></div>
        <a href="itemfolio.html" class="clicked-gallery" title="Open/View Project Links"><span style="background-color:#2980b9;padding:35px;color:#FFF">Select Image</span></a>
        <img src="/images/profiles/dragon_l1.png" class="responsive-image preload" style="display: block;">
      </div>
    </div>
    <div class="princess portfolio-three-item">
      <div>
        <div class="overlay"></div>
        <a href="itemfolio.html" class="clicked-gallery" title="Open/View Project Links"><span style="background-color:#2980b9;padding:35px;color:#FFF">Select Image</span></a>
        <img src="/images/profiles/princess_l1.png" class="responsive-image preload" style="display: block;">
      </div>
    </div>
    <div class="animal portfolio-three-item">
      <div>
        <div class="overlay"></div>
        <a href="itemfolio.html" class="clicked-gallery" title="Open/View Project Links"><span style="background-color:#2980b9;padding:35px;color:#FFF">Select Image</span></a>
        <img src="/images/profiles/animal_l1.png" class="responsive-image preload" style="display: block;">
      </div>
    </div>
  </div>
</div>