<div class="social-strip">
  <div class="box-960">
    <div class="left-social-strip animated fadeIn">
      <h3>Promote Your Read-A-Thon Profile</h3>
      <h5>share your profile on social networks</h5>
    </div>
    <div class="right-social-strip">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
</div>

<blockquote class="quote-one yellow-quote">
  <div style="color:black;float:left;"><img style="width:50px;" src="/images/badges/badge14.png"/></div>
  <div style="float:left;margin-left:15px;margin-top:12px;"><strong>Daily Challange:</strong>
    <span style="margin-left:10px;color:black;">Read at least 15 minutes to a pet.</span>
  </div>
</blockquote>


<div class="content">
  <div style="margin-bottom:20px;"></div>
  <div class="box-960">
    <div class="one-half-responsive no-bottom">
      <h1 style="margin-bottom:0;font-size:30px;">Cain G</h1>
      <em>2nd Grade - Mrs Kapronos</em>

      <a style="margin-top:10px;margin-left:35px" href="<%= profile_avatar_path %>">change your profile image</a>
      <img style="margin-bottom: 20px; border-radius: 25px; border: 2px solid #000; height:240px;" src="/images/profiles/dragon_l3.png"/>

      <div style="margin-bottom:20px;">
        Amount of minutes you have read today.<br/>
        Use the + and - to adjust the time.<br/>
        <a href="/priv/profile" style="margin:0;height:70px;font-size:20px;padding-top:25px;" class="button button-light">- 15</a>
        <span class="button" style="margin:0;height:70px;vertical-align: top;width:150px;background-color:#e6ebec;color:#5a5a5a;font-size:40px;padding-top:20px;">0</span>
        <a href="/priv/profile" style="margin:0;height:70px;font-size:20px;padding-top:25px;" class="button button-light">+ 15</a>
        <a id="challange" href="#" class="checkbox checkbox-class-3"><span style="color: rgba(243, 156, 18,1.0); font-weight: bold;">Challange:</span> I read 15 minutes to to my pet.</a>
      </div>

    </div>

    <div class="decoration hide-if-responsive"></div>

    <div class="one-fifth-responsive one-third-full" style="float:right;">
      <div class="pricing-table pricing-selected-green">
        <h1>
          Level 3 Reader
        </h1>
        <h2>
          $9.99 Raised
          <em>pledged at $2.34 an hour</em>
        </h2>
        <ul>
          <li>You have read for 1h 30m</li>
          <li>30 minutes to next level</li>
          <li>8 badges earned</li>
          <li>9 people have pledged you</li>
          <li>2nd Grade has raised $2,345.00</li>
        </ul>
        <a href="<%= request_pledge_path %>" class="button center-button button-red">Request a Pledge</a>
      </div>
    </div>
    <div class="clear"></div>
    <br/>
  </div>
</div>

<div class="content">
  <div class="box-960" style="margin-bottom:25px;">
    <div class="decoration"></div>
    <div class="container no-bottom">

      <div class="one-half-responsive">
        <h5>Badges you have earned</h5>

        <div style="width:120px; float:left; text-align:center; margin:10px 20px 10px 0;">
          <img style="width:120px;" src="/images/badges/badge1.png"/>
          Read to Pet
        </div>
        <div style="width:120px; float:left; text-align:center; margin:10px 20px 10px 0;">
          <img style="width:120px;" src="/images/badges/badge11.png"/>
          Read Outside
        </div>
        <div style="width:120px; float:left; text-align:center; margin:10px 20px 10px 0;">
          <img style="width:120px;" src="/images/badges/badge3.png"/>
          Read Under Blankets
        </div>
        <div style="width:120px; float:left; text-align:center; margin:10px 20px 10px 0;">
          <img style="width:120px;" src="/images/badges/badge4.png"/>
          Read In The Car
        </div>
        <div style="width:120px; float:left; text-align:center; margin:10px 20px 10px 0;">
          <img style="width:120px;" src="/images/badges/badge5.png"/>
          Read With Friends
        </div>
        <div style="width:120px; float:left; text-align:center; margin:10px 20px 10px 0;">
          <img style="width:120px;" src="/images/badges/badge6.png"/>
          Read In Japanese
        </div>
        <div style="width:120px; float:left; text-align:center; margin:10px 20px 10px 0;">
          <img style="width:120px;" src="/images/badges/badge7.png"/>
          Read With Parent
        </div>
        <div style="width:120px; float:left; text-align:center; margin:10px 20px 10px 0;">
          <img style="width:120px;" src="/images/badges/badge8.png"/>
          Read While Running
        </div>


      </div>

      <div class="one-half-responsive last no-bottom">
        <h5>Recent people who have pledged</h5>
        <blockquote class="quote-two">
          <i class="fa fa-quote-left fa-5x"></i>
          <strong>Grandma Peg pledged 5 cents a minute</strong><br/>This is a blockquote, it can be used to make quotes
          look sexy, important, or whatever you want to do with your quotes.
          It's simple to use, just the blockquote class will do!<br><br>
        </blockquote>
        <blockquote class="quote-two">
          <i class="fa fa-quote-left fa-5x"></i>
          <strong>Uncle Tom pledged 10 cents a minute</strong><br/> This is a blockquote, it can be used to make quotes
          look sexy, important, or whatever you want to do with your quotes.
          It's simple to use, just the blockquote class will do!<br><br>
        </blockquote>
        <blockquote class="quote-two">
          <i class="fa fa-quote-left fa-5x"></i>
          <strong>Matt Giacomini says</strong> This is a blockquote, it can be used to make quotes look sexy, important,
          or whatever you want to do with your quotes.
          It's simple to use, just the blockquote class will do!<br><br>
        </blockquote>
        <blockquote class="quote-two">
          <i class="fa fa-quote-left fa-5x"></i>
          <strong>Mom says</strong> This is a blockquote, it can be used to make quotes look sexy, important, or
          whatever you want to do with your quotes.
          It's simple to use, just the blockquote class will do!<br><br>
        </blockquote>
        <p><a href="">click to view all your pledges</a></p>
        <br>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

